<table class="table table-borderless table-responsive" width="100%">
    <tr>
        <td>
            <div class="mt-2">Simbol</div>
        </td>
        <td>
            <div class="mt-2">:</div>
        </td>
        <td>
            <select name="symbol" class="form-control">
                <option value="">Pilih Simbol</option>
                {% for data in range(0, len) %}
                <option value="{{ sysmbols[data]['value'] }}">{{ data + 1 }}.   {{ sysmbols[data]['label'] }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <div class="mt-2">Tanggal Awal</div>
        </td>
        <td>
            <div class="mt-2">:</div>
        </td>
        <td>
            <input type="date" name="tgl_awal" class="form-control">
        </td>
    </tr>
    <tr>
        <td>
            <div class="mt-2">Tanggal Akhir</div>
        </td>
        <td>
            <div class="mt-2">:</div>
        </td>
        <td>
            <input type="date" name="tgl_akhir" class="form-control">
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td align="right">
            <input type="submit" id="btnPrediksi" value="Prediksi" class="btn btn-primary">
        </td>
    </tr>
</table>